# Day1 work

## インポート

In [62]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## データ読み込み

In [63]:
df_data = pd.read_csv("../data/mushrooms.csv")
print(df_data.columns)
display(df_data.head())
display(df_data.tail())

Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
       'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
       'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
       'stalk-surface-below-ring', 'stalk-color-above-ring',
       'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
       'ring-type', 'spore-print-color', 'population', 'habitat'],
      dtype='object')

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

## 基礎集計

In [75]:
# 略称のままでは見にくいので変換して表示するための情報
out_info = {"e":"edible", "p":"poisonous"}
exp_info = {"surface":{"f":"fibrous", "y":"scaly", "k":"silky", "s":"smooth", "g":"grooves"},
        "color":{"n":"brown", "b":"buff", "c":"cinnamon", "g":"gray", "o":"orange", "p":"pink", "e":"red", "w":"white", "y":"yellow", "r":"green", "u":"purple", "k":"black", "h":"chocolate"},
        "shape":{"b":"bell", "c":"conical", "x":"convex", "f":"flat", "k":"knobbed", "s":"sunken", "e":"enlarging", "t":"tapering"},
        "bruises":{"t":"bruises", "f":"no"},
        "odor":{"a":"almond", "l":"anise", "c":"creosote", "y":"fishy", "f":"foul", "m":"musty", "n":"none", "p":"pungent", "s":"spicy"},
        "gill-attachment":{"a":"attached", "d":"descending", "f":"free", "n":"notched"},
        "gill-spacing":{"c":"close", "w":"crowded", "d":"distant"},
        "gill-size":{"b":"broad", "n":"narrow"},
        "stalk-root":{"b":"bulbous", "c":"club", "u":"cup", "e":"equal", "z":"rhizomorphs", "r":"rooted", "?":"missing"},
        "veil-type":{"p":"partial", "u":"universal"},
        "ring-number":{"n":"none", "o":"one", "t":"two"},
        "ring-type":{"c":"cobwebby", "e":"evanescent", "f":"flaring", "l":"large", "n":"none", "p":"pendant", "s":"sheathing", "z":"zone"},
        "population":{"a":"abundant", "c":"clustered", "n":"numerous", "s":"scattered", "v":"several", "y":"solitary"},
        "habitat":{"g":"grasses", "l":"leaves", "m":"meadows", "p":"paths", "u":"urban", "w":"waste", "d":"woods"}
       }

### ・クロス集計

In [76]:
labels = df_data.columns
display_data = df_data

for label in labels:
    if label == "class":
        continue
    cross_data = pd.crosstab(index=display_data["class"], columns=display_data[label], margins=True, normalize='columns')

    # labelにinfoのkeyが含まれていたら置き換える
    for key in exp_info.keys():
        if key in label:
            for c in cross_data.columns:
                if c == "All":
                    continue
                cross_data = cross_data.rename(columns={c:exp_info[key][c]}, index=out_info)

    display(cross_data)

cap-shape      bell  conical      flat   knobbed  sunken    convex       All
class
edible     0.893805      0.0  0.506345  0.275362     1.0  0.532823  0.517971
poisonous  0.106195      1.0  0.493655  0.724638     0.0  0.467177  0.482029

cap-surface   fibrous  grooves    smooth     scaly       All
class
edible       0.672414      0.0  0.447574  0.463625  0.517971
poisonous    0.327586      1.0  0.552426  0.536375  0.482029

cap-color,buff,cinnamon,red,gray,brown,pink,green,purple,white,yellow,All
class,,,,,,,,,,,
edible,0.285714,0.727273,0.416,0.56087,0.553415,0.388889,1.0,1.0,0.692308,0.373134,0.517971
poisonous,0.714286,0.272727,0.584,0.43913,0.446585,0.611111,0.0,0.0,0.307692,0.626866,0.482029

bruises          no   bruises       All
class
edible     0.306655  0.815166  0.517971
poisonous  0.693345  0.184834  0.482029

odor,almond,creosote,foul,anise,musty,none,pungent,spicy,fishy,All
class,,,,,,,,,,
edible,1.0,0.0,0.0,1.0,0.0,0.965986,0.0,0.0,0.0,0.517971
poisonous,0.0,1.0,1.0,0.0,1.0,0.034014,1.0,1.0,1.0,0.482029

gill-attachment  attached      free       All
class
edible           0.914286  0.507455  0.517971
poisonous        0.085714  0.492545  0.482029

gill-spacing     close   crowded       All
class
edible        0.441574  0.914634  0.517971
poisonous     0.558426  0.085366  0.482029

gill-size     broad   narrow       All
class
edible     0.698503  0.11465  0.517971
poisonous  0.301497  0.88535  0.482029

gill-color,buff,red,gray,chocolate,black,brown,orange,pink,green,purple,white,yellow,All
class,,,,,,,,,,,,,
edible,0.0,1.0,0.329787,0.278689,0.843137,0.89313,1.0,0.571046,0.0,0.902439,0.795341,0.744186,0.517971
poisonous,1.0,0.0,0.670213,0.721311,0.156863,0.10687,0.0,0.428954,1.0,0.097561,0.204659,0.255814,0.482029

stalk-shape  enlarging  tapering       All
class
edible        0.459613    0.5625  0.517971
poisonous     0.540387    0.4375  0.482029

stalk-root   missing   bulbous      club     equal  rooted       All
class
edible      0.290323  0.508475  0.920863  0.771429     1.0  0.517971
poisonous   0.709677  0.491525  0.079137  0.228571     0.0  0.482029

stalk-surface-above-ring  fibrous     silky    smooth     scaly       All
class
edible                    0.73913  0.060708  0.703246  0.666667  0.517971
poisonous                 0.26087  0.939292  0.296754  0.333333  0.482029

stalk-surface-below-ring  fibrous   silky    smooth     scaly       All
class
edible                       0.76  0.0625  0.688817  0.732394  0.517971
poisonous                    0.24  0.9375  0.311183  0.267606  0.482029

stalk-color-above-ring,buff,cinnamon,red,gray,brown,orange,pink,white,yellow,All
class,,,,,,,,,,
edible,0.0,0.0,1.0,1.0,0.035714,1.0,0.307692,0.616487,0.0,0.517971
poisonous,1.0,1.0,0.0,0.0,0.964286,0.0,0.692308,0.383513,1.0,0.482029

stalk-color-below-ring,buff,cinnamon,red,gray,brown,orange,pink,white,yellow,All
class,,,,,,,,,,
edible,0.0,0.0,1.0,1.0,0.125,1.0,0.307692,0.616788,0.0,0.517971
poisonous,1.0,1.0,0.0,0.0,0.875,0.0,0.692308,0.383212,1.0,0.482029

veil-type   partial       All
class
edible     0.517971  0.517971
poisonous  0.482029  0.482029

veil-color  brown  orange     white  yellow       All
class
edible        1.0     1.0  0.506815     0.0  0.517971
poisonous     0.0     0.0  0.493185     1.0  0.482029

ring-number  none       one   two       All
class
edible        0.0  0.491453  0.88  0.517971
poisonous     1.0  0.508547  0.12  0.482029

ring-type  evanescent  flaring  large  none   pendant       All
class
edible       0.363112      1.0    0.0   0.0  0.794355  0.517971
poisonous    0.636888      0.0    1.0   1.0  0.205645  0.482029

spore-print-color,buff,chocolate,black,brown,orange,green,purple,white,yellow,All
class,,,,,,,,,,
edible,1.0,0.029412,0.880342,0.886179,1.0,0.0,1.0,0.241206,1.0,0.517971
poisonous,0.0,0.970588,0.119658,0.113821,0.0,1.0,0.0,0.758794,0.0,0.482029

population,abundant,clustered,numerous,scattered,several,solitary,All
class,,,,,,,
edible,1.0,0.847059,1.0,0.705128,0.29505,0.621495,0.517971
poisonous,0.0,0.152941,0.0,0.294872,0.70495,0.378505,0.482029

habitat,woods,grasses,leaves,meadows,paths,urban,waste,All
class,,,,,,,,
edible,0.597205,0.655493,0.288462,0.876712,0.118881,0.26087,1.0,0.517971
poisonous,0.402795,0.344507,0.711538,0.123288,0.881119,0.73913,0.0,0.482029

### ・相関

## データの前処理

### ・欠損の確認

In [ ]:
df_data.isnull().sum()

### ・カテゴリカル変数の前処理

In [ ]:
# classlabelを数字に置き換え（自動）
class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}
print("置換条件=", class_mapping)
df_data2 = df_data.copy()