# Day1 work

## インポート

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## データ読み込み

In [2]:
df_data = pd.read_csv("../data/mushrooms.csv")
print(df_data.columns)
display(df_data.head())
display(df_data.tail())

Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
       'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
       'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
       'stalk-surface-below-ring', 'stalk-color-above-ring',
       'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
       'ring-type', 'spore-print-color', 'population', 'habitat'],
      dtype='object')

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

## 基礎集計

### ・クロス集計

In [3]:
# 略称のままでは見にくいので戻す
labels = df_data.columns
for label in labels:
    if label == "class":
        continue
    cross_data = pd.crosstab(index=df_data["class"], columns=df_data[label], margins=True)
    display(cross_data)

cap-shape    b  c     f    k   s     x   All
class
e          404  0  1596  228  32  1948  4208
p           48  4  1556  600   0  1708  3916
All        452  4  3152  828  32  3656  8124

cap-surface     f  g     s     y   All
class
e            1560  0  1144  1504  4208
p             760  4  1412  1740  3916
All          2320  4  2556  3244  8124

cap-color    b   c     e     g     n    p   r   u     w     y   All
class
e           48  32   624  1032  1264   56  16  16   720   400  4208
p          120  12   876   808  1020   88   0   0   320   672  3916
All        168  44  1500  1840  2284  144  16  16  1040  1072  8124

bruises     f     t   All
class
e        1456  2752  4208
p        3292   624  3916
All      4748  3376  8124

odor     a    c     f    l   m     n    p    s    y   All
class
e      400    0     0  400   0  3408    0    0    0  4208
p        0  192  2160    0  36   120  256  576  576  3916
All    400  192  2160  400  36  3528  256  576  576  8124

gill-attachment    a     f   All
class
e                192  4016  4208
p                 18  3898  3916
All              210  7914  8124

gill-spacing     c     w   All
class
e             3008  1200  4208
p             3804   112  3916
All           6812  1312  8124

gill-size     b     n   All
class
e          3920   288  4208
p          1692  2224  3916
All        5612  2512  8124

gill-color     b   e    g    h    k     n   o     p   r    u     w   y   All
class
e              0  96  248  204  344   936  64   852   0  444   956  64  4208
p           1728   0  504  528   64   112   0   640  24   48   246  22  3916
All         1728  96  752  732  408  1048  64  1492  24  492  1202  86  8124

stalk-shape     e     t   All
class
e            1616  2592  4208
p            1900  2016  3916
All          3516  4608  8124

stalk-root     ?     b    c     e    r   All
class
e            720  1920  512   864  192  4208
p           1760  1856   44   256    0  3916
All         2480  3776  556  1120  192  8124

stalk-surface-above-ring    f     k     s   y   All
class
e                         408   144  3640  16  4208
p                         144  2228  1536   8  3916
All                       552  2372  5176  24  8124

stalk-surface-below-ring    f     k     s    y   All
class
e                         456   144  3400  208  4208
p                         144  2160  1536   76  3916
All                       600  2304  4936  284  8124

stalk-color-above-ring    b   c   e    g    n    o     p     w  y   All
class
e                         0   0  96  576   16  192   576  2752  0  4208
p                       432  36   0    0  432    0  1296  1712  8  3916
All                     432  36  96  576  448  192  1872  4464  8  8124

stalk-color-below-ring    b   c   e    g    n    o     p     w   y   All
class
e                         0   0  96  576   64  192   576  2704   0  4208
p                       432  36   0    0  448    0  1296  1680  24  3916
All                     432  36  96  576  512  192  1872  4384  24  8124

veil-type     p   All
class
e          4208  4208
p          3916  3916
All        8124  8124

veil-color   n   o     w  y   All
class
e           96  96  4016  0  4208
p            0   0  3908  8  3916
All         96  96  7924  8  8124

ring-number   n     o    t   All
class
e             0  3680  528  4208
p            36  3808   72  3916
All          36  7488  600  8124

ring-type     e   f     l   n     p   All
class
e          1008  48     0   0  3152  4208
p          1768   0  1296  36   816  3916
All        2776  48  1296  36  3968  8124

spore-print-color   b     h     k     n   o   r   u     w   y   All
class
e                  48    48  1648  1744  48   0  48   576  48  4208
p                   0  1584   224   224   0  72   0  1812   0  3916
All                48  1632  1872  1968  48  72  48  2388  48  8124

population    a    c    n     s     v     y   All
class
e           384  288  400   880  1192  1064  4208
p             0   52    0   368  2848   648  3916
All         384  340  400  1248  4040  1712  8124

habitat     d     g    l    m     p    u    w   All
class
e        1880  1408  240  256   136   96  192  4208
p        1268   740  592   36  1008  272    0  3916
All      3148  2148  832  292  1144  368  192  8124

## データの前処理

### ・欠損の確認

In [4]:
df_data.isnull().sum()

class                       0
cap-shape                   0
cap-surface                 0
cap-color                   0
bruises                     0
odor                        0
gill-attachment             0
gill-spacing                0
gill-size                   0
gill-color                  0
stalk-shape                 0
stalk-root                  0
stalk-surface-above-ring    0
stalk-surface-below-ring    0
stalk-color-above-ring      0
stalk-color-below-ring      0
veil-type                   0
veil-color                  0
ring-number                 0
ring-type                   0
spore-print-color           0
population                  0
habitat                     0
dtype: int64

### ・カテゴリカル変数の前処理

In [5]:
# classlabelを数字に置き換え（自動）
class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}
print("置換条件=", class_mapping)
df_data2 = df_data.copy()

NameError: name 'df' is not defined